<div class="register-container">
    <h2>Register</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-fields">
                <div class="form-group">
                        <!-- <label for="email">Email</label> -->
                        <input placeholder="Email" type="text" id="email-input" formControlName="email" class="form-control" />
                </div>
        
                <div class="form-group">
                    <!-- <label for="username">Username</label> -->
                    <input placeholder="Username" type="text" id="username-input" formControlName="username" class="form-control" />
                </div>
        
                <div class="form-group">
                    <!-- <label for="password">Password</label> -->
                    <input placeholder="Password" type="password" formControlName="password" class="form-control" />
                </div>
        
                <div class="form-group">
                    <!-- <label for="displayName">Display Name</label> -->
                    <input placeholder="Display Name" type="text" formControlName="displayName" class="form-control" />
                </div>
        </div>
        

        <div class="form-group">
            <button type="submit" class="sign-in-button btn btn-primary">
                <h5>REGISTER</h5>
            </button>
        </div>
    </form>
</div>