:host {
    height: 100%; 
    /* position: relative; */
} 

.overlayed.enabled{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }

.page-container{ 
    margin-top:50px;
    height:100%;
    margin-left: var(--side-nav-width);
    overflow: auto;
 }

 .page-container.extended
 {
     margin-left: initial;
 }

 @media only screen and (max-width: 685px)
{
    .page-container
    {
        margin-left: initial;
    }
}