#search-results
{
    width: 50%;
    padding-top: 46px;
    margin-left: 16%;
}

#results-header
{
    /* border-bottom: 1px solid #949494; */
    /* padding-bottom: 3px; */
    margin-bottom: 20px;
}

@media only screen and (max-width: 1090px)
{
    #search-results
    {
        width: 90%;
        margin: 0 auto;
    }
}