<div class = "wrapper">
    <form [formGroup]="createChatForm" (ngSubmit)="onSubmit()">
        <h2 class="section-header">Create Chat</h2>
        <div class="title-box input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title</span>
            </div>
            
            <input aria-describedby="basic-addon1" formControlName = 'title' aria-label="Title" class="form-control" placeholder="Enter Title Here" type = "text"/>
        </div>
    
        <div class="description-box form-group">
            <div class="description-header">
                <label for="DescriptionTextarea">Description</label>
            </div>
            <textarea formControlName = 'description' class="form-control" id="DescriptionTextarea" rows="10"></textarea>
        </div>
    
        <div class="add-tags-box input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Tags</span>
            </div>
            
            <tag-input-box formConrolName = 'tags' aria-describedby="basic-addon2" class="tag-input-box"></tag-input-box>
        </div>
    
        <div class="form-group">
            <button type="submit" class="sign-in-button btn btn-primary">
                <h5>Submit</h5>
            </button>
        </div>
    </form>

</div>