<div class = "wrapper">
    <h2 class="section-header">Create Chat</h2>
    <div class="title-box input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
        </div>
        
        <input aria-describedby="basic-addon1" aria-label="Title" class="form-control" placeholder="Enter Title Here" type = "text"/>
    </div>

    <div class="description-box form-group">
        <div class="description-header">
            <label for="DescriptionTextarea">Description</label>
        </div>
        <textarea class="form-control" id="DescriptionTextarea" rows="10"></textarea>
    </div>

    <div class="add-tags-box input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Tags</span>
        </div>
        
        <tag-input-box aria-describedby="basic-addon2" class="tag-input-box"></tag-input-box>
    </div>
</div>