main
{
        /* background: rgb(175, 240, 137); */
        width: 100%;
        height: 90%;
        box-sizing: border-box;

}

/*background: #384E52;*/
/*background: #364c4e;*/


.main-container
{
    width: calc(100% - 306px);
    /* margin-left: var(--side-nav-width);  */
    padding: 2% 3%;
    /* padding-top: 2%; */
    box-sizing: border-box;
    height: 70%;
    /* background: red; */
    /* margin-top: 80px; */
    padding-top: 30px;
}



.side-panel
{
    background: lightblue;
    width: 250px;
    overflow-wrap: break-word;
    position: fixed;
    right: 16px;
    top: 75px;
    bottom: 18px;
}

@media only screen and (max-width: 585px)
{
    .main-container
    {
        width: 100%;
    }
}

@media only screen and (max-width: 1090px)
{
    .side-panel
    {
        margin: 0 auto;
        position: static;
        height: 100%;
    }

    .main-container
    {
        width: 100%;
        margin: initial;
    }


}