<div class="login-container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <!-- <p class="form-error" *ngIf="loginForm.get('username').hasError('required')">
                *Username is required
            </p> -->

            <label for="username">Username</label>
            <input type="text" id="username-input" formControlName="username" class="form-control" />
        </div>

        <!-- <p class="form-error" *ngIf="loginForm.get('password').hasError('required')">
            *password is required
        </p> -->

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="sign-in-button btn btn-primary">
                <h5>SIGN IN</h5>
            </button>
        </div>
    </form>
</div>