<div class="side-nav">
    <div class="toggle active">
            <span></span>
            <span></span>
            <span></span>
    </div>
    
    <div class="side-nav-content">
        <div class="logo">
            <img width=172 height=92 src="../../../assets/img/conker_logo.png"/>
            <!-- <h1>CONKER</h1> -->
        </div>
        <nav>
            <div class="side-nav-my-section">
                <h3>My Section</h3>
                <a routerLink = '/'>Feed</a>
                <a>Profile</a>
                <a>Recommended</a>
            </div>

            <a routerLink='/chat'>Chatrooms</a>
            <a>About Us</a>
            <a>Contact Us</a>
        </nav>
    </div>
</div>