.side-nav
{
    
    overflow: hidden;
    text-align: center;
    color: white;
    font-size: 1.4rem;
    background: #304346;
    /* background: rgba(16, 54, 59, 1); */
    position: fixed;
    width: var(--side-nav-width);
    bottom: 0;
    top: 0;
    font-family: 'Glacial', sans-serif;
    transition: transform 0.25s;
    transition-timing-function: cubic-bezier(0,.01,.12,.89, .955);
    z-index: 15;
    
}

.side-nav-content
{
    margin-top: 60px;
}
.side-nav.inactive
{
    transform:translate(-100%);
    float: none;
    position: absolute;
}

.side-nav-my-section
{
    margin-top: 80px;
}

.general-section
{
    margin-top: 70px;
}

.side-nav-content > *
{
    /* margin-bottom: 10%; */
}


/* .nav-section-content a
{
    margin-bottom: 20px;
} */

.side-nav-content .logo
{
    font-family: 'Glacial', sans-serif;

    /* margin-top: 30%; */
}


/* nav .side-nav-my-section
{
    margin-bottom: 61px;
    background-color: salmon;
}
*/

nav .nav-section a
{
    font-size: 1.4rem;
}
nav .side-nav-my-section a 
{
   margin:10px 0;
} 

nav .general-section a
{
    margin: 15px 0;
}

nav a 
{
    display: block;
    text-decoration: none;
    color: white;
}

nav a:hover
{
    color: white;
}

@media only screen and (max-width: 585px)
{
    .side-nav
    {
        top:0%;
        bottom:0%;
        z-index: 10;
        position: fixed;
    
    }
}