:host
{
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.taglist {
    display: flex;
    grid-column: 1 / 2;
    padding: 4px 0px;
    /*background: green;*/
}


.searchbox
{
    display: flex;
    align-items: center;
    grid-column: 2 / 3;
    width: 100%;
    margin: auto 0;
}


.searchbox input
{
  /*  background-color: red;*/
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-left: 0.1%;
}
