:root
{
    margin-top: 40px;
}

.wrapper
{
    padding: 0px 20px;
}

.heading-row
{
    overflow: hidden;
    padding: 10px 0px;
    margin-top: 20px;
}

.section-header{
    float: left;
    margin-bottom: 0px;
}

.add-button
{
    color: white;
    float: right;
    background: #304346;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle a
{
    color: white;
    text-decoration: none;
}

