.site-header
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #384E52;
    /* background: rgba(16, 54, 59, .945); */
    height: 50px;
}

.right-items-container
{
    display: flex;
    color: white;
}

.search-button
{
    display: none;
}

.right-items-container span
{
    padding-right: 8px;
}



.site-header.extended .toggle
{
    display: none;
}

.site-header.extended .right-items-container
{
    display: none;
}


@media only screen and (max-width: 585px)
{
    .search-button
    {
        display: inline;
    }
}

