<div class="search input-div">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/">Tags</a>
            <a class="dropdown-item" href="/">Text</a>
        </div>
    </div>
    <!-- <input type="text" /> -->
    <tag-search></tag-search>
</div>